<!DOCTYPE html>
<html>
    <div th:replace="fragments/general.html :: head"></div>
    <body>
        <div th:replace="fragments/general.html :: header"></div>

        <div class="columns is-centered m-5">
            <div class="column is-full">
                <h1 class="is-size-1">Statistiques</h1>
                <form >
                    <div class="field">
                        <label>Semaine</label>
                        <div class="control">
                            <input style="max-width: 25%;" id="id-semaine" class="input" value="1" type='number'/>
                        </div>
                    </div>
                    <input type='button' class='button is-primary' value="Valider" />

                </form>
                <table class="table is-bordered mt-2">
                    <thead>
                        <tr>
                            <th>Numéro matricule</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Catégorie</th>
                            <th>Salaire</th>
                            <th>Salaire à payer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="emp: ${employees}">
                            <td th:text="${emp.getRegistration_number()}" />
                            <td th:text="${emp.getLast_name()}" />
                            <td th:text="${emp.getFirst_name()}" />
                            <td th:text="${emp.getCategory().getName()}" />
                            <td th:text="${emp.getCategory().getStandard_salary()}" />
                            <td th:text="${emp.getDate_birth()}" />
                            <td th:text="${emp.getDate_begin_employment()}" />
                            <td th:text="${emp.getDate_end_employment()}" />
                        </tr>
                    </tbody>
                </table>

                <nav th:if="${numberpages > 0}" class="pagination is-centered" role="navigation" aria-label="pagination">
                    <a th:href="@{/employees-front(page=${prev})}"  class="pagination-previous">Previous</a>
                    <a th:href="@{/employees-front(page=${next})}" class="pagination-next">Next page</a>
                    <ul class="pagination-list">
                        <li  th:each="iter: ${#numbers.sequence(1, __${numberpages}__)}">
                            <a
                                th:classappend="${(iter-1== page) ? 'is-current': ''}"
                                th:href="@{/employees-front(page=${iter-1})}"
                                th:text="${iter}" class="pagination-link">-1</a></li>
                    </ul>
                </nav>

            </div>
        </div>
        <div th:replace="fragments/general.html :: footer"></div>
    </body>
</html> 
