<!DOCTYPE html>
<html>
    <div th:replace="fragments/general.html :: head"></div>
    <body>
        
        <div class="columns ">
            <div class="" th:replace="fragments/general.html :: header"></div>
            <div  id="mn-content" class="column">
                <div th:replace="fragments/general.html :: messages"></div>
                <div class="columns is-desktop is-centered">
                    <div class="column p-5 is-one-third">
                        <h1 th:if="${isupdate == null || isupdate == false}">Nouvel employé</h1>
                        <h1 th:if="${isupdate != null && isupdate == true}">Mise à jour</h1>
                      
                        <form th:object="${employeeAttr}"
                           method="post"
                           th:action="${isupdate != null && isupdate == true}?@{/employees-update}:@{/employees}"
                           >
                            <input type="hidden" th:field="*{id}" th:value="${employeeAttr.id}" />
                            <div class="field">
                                <label class="label">Date d'embauche</label>
                                <div class="control">
                                    <input class="input"  th:field="*{date_begin_employment}" type='datetime-local'/>
                                </div>
                            </div>
                             <div class="field">
                                <label class="label">Catégorie</label>
                                <div class="select">
                                    <select class="input" th:field="*{id_category}">
                                        <option th:each='categ: ${categories}' th:text='${categ.getName()}' th:value="${categ.getId()}" />
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Nom</label>
                                <div class="control">
                                    <input class="input" th:field="*{last_name}" type='text'/>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Prénom</label>
                                <div class="control">
                                    <input class="input" th:field="*{first_name}" type='text'/>
                                </div>
                            </div>
                            
                            <div class="field">
                                <label class="label">Date de naissance</label>
                                <div class="control">
                                    <input class="input"  th:field="*{date_birth}" type='datetime-local'/>
                                </div>
                            </div>
                            
                            <div class="field">
                                <label class="label">Date fin de contrant</label>
                                <div class="control">
                                    <input class="input"  th:field="*{date_end_employment}" type='datetime-local'/>
                                </div>
                            </div>
                           
                            
                            <div class="buttons">
                                <button 
                                        class="button is-small is-primary is-fullwidth" type="submit">Valider</button>
                            </div>
        
                        </form>
        
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>